* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  /* flex-wrap: wrap; */
}

.item {
  background: #f4f4f4;
  border: #ccc solid 2px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  /* Order of Shorcut */
  /* Grow, Shrink, Basis */
  flex: 1 0 200px;
}

/* .item-1 {
  flex-shrink: 0;
}
.item-2 {
  flex-grow: 1;
  flex-basis: 0;
}
.item-3 {
  flex-grow: 2;
  flex-basis: 0;
} */
